[user]
    email = prc@danskecommodities.com
    name = prc
    signingkey = ~/.ssh/id_ed25519_work.pub

[includeIf "gitdir:~/repos/private/"]
    path = ~/.gitconfig-private

[url "git@github.com-work:"]
    insteadOf = https://github.com/

[credential "https://github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential

[push]
    autoSetupRemote = true

[gpg]
    format = ssh

[commit]
    gpgsign = true
